<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>自动任务脚本更新公告</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/theme-chalk/card.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <style>
    [v-cloak] {
      display: none
    }

    body {
      background-image: url(https://cdn.jsdelivr.net/gh/HCLonely/auto-task@test/public/img/006brDXlly1ft9lm7ns5zj31hc0u0qh3.jpg);
      background-position: center bottom;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    #app {
      width: 80%;
      margin: auto;
    }
  </style>
</head>

<body>
  <h1 class="non-js">此页面需要安装<a href="https://github.com/HCLonely/auto-task" target="_blank">自动任务脚本</a></h1>
  <h1 class="non-js">如果已安装此脚本，请稍等片刻！</h1>
  <h1 class="non-js">This page requires the <a href="https://github.com/HCLonely/auto-task" target="_blank">Auto Task
      Script</a> to be installed</h1>
  <h1 class="non-js">If you have this script installed, please wait a moment!</h1>
  <h1 id="failed"></h1>
  <div v-cloak id="app" class="announcement">
    <el-card v-for="announcement in announcements" class="box-card">
      <div slot="header" class="clearfix">
        <strong>{{`版本: ${announcement.version}  更新时间: ${announcement.time}`}}</strong>
      </div>
      <div v-for="(text,index) in announcement.text" :key="text.index" class="text item">
        {{`${index+1}.${announcement.text[index]}`}}
      </div>
    </el-card>
  </div>
  <script src="/js/loadAnnouncement.min.js"></script>
</body>

</html>
