<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Auto Task Settings</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
<h1 class="non-js">This page requires the <a
        href="https://github.com/HCLonely/auto-task"
        target="_blank">Auto Task Script</a> to be installed</h1>
<h1 class="non-js">If you have this script installed, please wait a moment!</h1>
<div v-cloak id="global" class="setting">
    <el-container>
        <el-header>{{header}}</el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Join Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="join.isIndeterminate" v-model="join.checkAll" @change="joinHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="join">
                            <el-checkbox-group v-model="join.checkedJoins" @change="handleCheckedJoinsChange">
                                <el-tooltip v-for="conf in join.joins" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Other</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="other.isIndeterminate" v-model="other.checkAll" @change="otherHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="other">
                            <el-checkbox-group v-model="other.checkedOthers" @change="handleCheckedOthersChange">
                                <el-tooltip v-for="conf in other.others" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="giveawaysu" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="giveawaysu">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Join Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="join.isIndeterminate" v-model="join.checkAll" @change="joinHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="join">
                            <el-checkbox-group v-model="join.checkedJoins" @change="handleCheckedJoinsChange">
                                <el-tooltip v-for="conf in join.joins" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="marvelousga" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="marvelousga">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="banana" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="banana">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="gamecode" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="gamecode">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="gamehag" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="gamehag">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="prys" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="prys">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="givekey" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="givekey">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Init Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Initialization" placement="top"
                            :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Initialization</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="takekey" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="takekey">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="gleam" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="gleam">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Verify Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="dark" content="Verify" placement="top" :open-delay="openDelay">
                            <el-radio v-model="verify" label="1" border>Verify</el-radio>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Remove Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="remove.isIndeterminate" v-model="remove.checkAll" @change="removeHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="remove">
                            <el-checkbox-group v-model="remove.checkedRemoves" @change="handleCheckedRemovesChange">
                                <el-tooltip v-for="conf in remove.removes" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="opiumpulses" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="opiumpulses">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">Maximum allowable points for each point draw, 0 is unlimited
                    </div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <form name="max-point">
                            <el-input type="point" v-model.number="maxPoint" autocomplete="off">
                            </el-input>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<div v-cloak id="freegamelottery" class="setting">
    <el-container>
        <el-header>
            <el-tooltip class="item" effect="dark" content="Once enabled, the following settings should be used instead of global settings!" placement="top">
                <el-checkbox v-model="checked" class="non-global" name="freegamelottery">{{header}}</el-checkbox>
            </el-tooltip>
        </el-header>
        <el-main>
            <el-row :gutter="20" :type="rowType" :align="rowAlign">
                <el-col :span="4">
                    <div class="grid-content bg-purple">FuckTask Button</div>
                </el-col>
                <el-col :span="20">
                    <div class="grid-content bg-purple">
                        <el-checkbox :indeterminate="fuck.isIndeterminate" v-model="fuck.checkAll" @change="fuckHandleCheckAllChange" border>All</el-checkbox>
                        <div style="margin:15px 0"></div>
                        <form name="fuck">
                            <el-checkbox-group v-model="fuck.checkedFucks" @change="handleCheckedFucksChange">
                                <el-tooltip v-for="conf in fuck.fucks" class="item" effect="dark" :key="conf.index" :content="conf.des" placement="top" :open-delay="openDelay">
                                    <el-checkbox :label="conf.name" :key="conf.name" :name="conf.eName" border>{{conf.name}}</el-checkbox>
                                </el-tooltip>
                            </el-checkbox-group>
                        </form>
                    </div>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>This page is hosted by Aliyun OSS <a href="https://qrpay.hclonely.com/qrcode.jpg"
                target="_blank">Sponsored Author</a>
        </el-footer>
    </el-container>
</div>
<div id="save">
    <el-button type="primary" icon="el-icon-check" circle @click="save" :title="title"></el-button>
</div>
<div id="reset">
    <el-button type="primary" icon="el-icon-refresh" circle @click="reset" :title="title"></el-button>
</div>
<div id="download">
    <el-button type="primary" icon="el-icon-download" circle @click="download" :title="title"></el-button>
</div>
<div id="upload">
    <el-upload id="upload2" :multiple="multiple" :show-file-list="sfl" :accept="accept" :http-request="httpRequest" :before-upload="upload" ref="upload">
        <el-button type="primary" icon="el-icon-upload2" circle :title="title"></el-button>
    </el-upload>
</div>
</body>

</html>