.colorful-button {
  position: relative !important;
  padding: 14px 28px !important;
  text-align: center !important;
  color: #fff !important;
  text-decoration: none !important;
  background: #2196f3 !important;
  border-radius: 30px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
  border: none !important;
  transition: all 0.2s ease !important;
  display: inline-block !important;
  line-height: 1.5 !important;
  margin: 8px !important;
  margin-bottom: 12px !important;
  box-sizing: border-box !important;
  min-height: 50px !important;
  min-width: 140px !important;
  outline: none !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
  font-size: 18px !important;

  &:hover {
    background: #1976d2 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    cursor: pointer !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  &:active {
    transform: translateY(1px) !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  &:focus {
    color: #fff !important;
    text-decoration: none !important;
    outline: none !important;
  }
}

#auto-task-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60%;
  max-width: 500px;
  max-height: 60%;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  padding-left: 5px;
  z-index: 999999999 !important;
  border: solid 2px #add8e6;
  border-radius: 10px;
  font-size: 14px !important;

  li {
    text-align: left;
    display: block !important;
    align-items: baseline !important;

    .before-icon {
      display: inline-block !important;
      width: 14px !important;
      height: 14px !important;
      position: relative !important;
      top: 2px !important;
      margin-right: 5px !important;
      background-size: 14px !important;
      background-repeat: no-repeat !important;
      flex-shrink: 0 !important;
    }

    font.before {
      color: #57bae8;
      margin-right: 5px;
    }

    a.high-light {
      color: #00aeff;
      font-weight: bold;
    }
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }

  .warning {
    color: blue;
  }

  .info {
    color: yellow;
  }

  .update-text {
    color: green;
    border: solid 2px #8dcb69;
    margin: 5px 10px 5px 20px;
    border-radius: 10px;
    padding: 5px 20px;
  }
}

.auto-task-keylol {
  display: inline-block;
  text-transform: capitalize;
  margin-left: 10px;
  text-decoration: none !important;
  border: solid 1px;
  border-radius: 5px;
  padding: 0 2px;

  &[selected="selected"] {
    background-color: blue !important;
    color: #fff !important;
  }
}

.auto-task-form table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  width: 100%;

  thead {
    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #a9c6c9;
      font-weight: bold;
      background-color: #fff;
    }
  }

  tbody {
    tr {
      background-color: #d4e3e5;

      &:hover {
        background-color: #ffff66 !important;
      }

      th {
        background-color: #c3dde0;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
        text-transform: capitalize;
      }

      td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
      }
    }
  }
}

.swal2-modal {
  width: 70% !important;
  max-width: 1000px !important;

  #swal2-title {
    text-align: center !important;
  }
}

body.auto-task-options {
  padding-top: 10px;
  text-align: center;

  .auto-task-form {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;

    table {
      input.editOption {
        width: 80%;
      }

      #getTwitterUserId,
      #getYoutubeChannelId {
        margin-top: 5px;
      }

      button {
        @extend .colorful-button;
        z-index: 1;
        position: relative !important;
        padding: 5px 20px !important;
        text-align: center !important;
        color: #fff !important;
        text-decoration: none !important;
        background: #2196f3 !important;
        border-radius: 30px !important;
        text-transform: capitalize !important;
        font-weight: 600 !important;
        letter-spacing: 0.5px !important;
        border: none !important;
        transition: all 0.2s ease !important;
        display: inline-block !important;
        line-height: 1 !important;
        margin: 8px !important;
        box-sizing: border-box !important;
        min-height: 30px !important;
        min-width: 140px !important;
        outline: none !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        font-size: 15px !important;
      }

      input[type="text"] {
        outline-style: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 14px;

        &:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow:
            inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
        }
      }

      label {
        position: relative;
        width: 160px;
        height: 80px;
        cursor: pointer;
        transform: scale(0.25);
        margin: -25% 0;
        top: -30px;
        display: inline-block;

        input {
          position: relative;
          z-index: 1;
          appearance: none;

          &:checked ~ span {
            background: #05be05;
            box-shadow: 0 15px 25px #05be0566;

            i {
              left: 84px;

              &::before {
                background: #05be05;
                box-shadow: 35px 0 0 #05be05;
              }

              &::after {
                bottom: 12px;
                height: 15px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                background: #05be05;
              }
            }
          }
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fe0000;
          border-radius: 80px;
          transition: 0.5s;
          box-shadow: 0 15px 25px #fe000066;

          i {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 72px;
            height: 72px;
            background: #fff;
            border-radius: 50%;

            &::before {
              content: "";
              position: absolute;
              top: 22px;
              left: 12px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #fe0000;
              box-shadow: 35px 0 0 #fe0000;
              transition: 0.5s;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 15px;
              left: calc(50% - 15px);
              width: 30px;
              height: 6px;
              border-radius: 6px;
              background: #fe0000;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}

body.auto-task-history {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;

  .container {
    a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
    }

    .card {
      width: 80%;
      max-width: 800px;
      border-radius: 10px;
      background: #7676761a;
      border-top: 1px solid #ffffff80;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 15px 25px #0000001a;
      margin: 20px auto;

      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      word-wrap: break-word;
      -webkit-background-clip: border-box;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;

      .title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 5px 0;

        a:hover {
          text-decoration: none;
          background: #93e1ff;
          border-radius: 10px;
          padding: 3px;
        }
      }

      ul {
        margin-bottom: 25px;

        li {
          margin-bottom: 5px;
          line-height: 20px;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .delete-task {
        right: 10px;
        width: 38px;
        height: 35px;
        position: absolute;
        font-size: 24px;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background: #fff;
        }
      }

      .time {
        right: 5px;
        position: absolute;
        bottom: 0;
        color: #e83e8c;
        font-family: 'SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace';
        font-size: 15px;
      }
    }
  }
}

#auto-task-buttons,
.show-button-div {
  position: fixed !important;
  top: 30px;
  right: 15px;
  width: 150px !important;
  z-index: 999999999 !important;
  padding: 8px !important;
  border-radius: 12px !important;

  p {
    line-height: normal !important;
    height: auto !important;
    text-align: center !important;
    margin: 8px 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
    color: #333 !important;
  }

  a.auto-task-website-btn {
    @extend .colorful-button;
    width: 140px !important;
    min-height: 30px !important;
    line-height: 1.5 !important;
    font-size: 16px !important;
    display: block !important;
    margin: 0 auto !important;
    padding: 8px 16px !important;
  }
}

.show-button-div {
  width: 40px !important;
  cursor: pointer !important;
  padding: 4px !important;

  a.auto-task-website-btn {
    right: -15px !important;
    &::after {
      content: "✓" !important;
      position: absolute !important;
      left: 12px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      font-size: 18px !important;
      font-weight: bold !important;
      color: #ffffff !important;
    }
  }
}

.auto-task-capitalize {
  text-transform: capitalize !important;
}

.swal2-file:focus,
.swal2-input:focus,
.swal2-textarea:focus {
  box-shadow: inset 0px 0px 4px 1px rgb(100 150 200 / 50%) !important;
}

.swal2-checkbox-custom {
  align-items: center;
  justify-content: center;
  background: #fff;
  color: inherit;
  margin: 1em auto;

  input {
    flex-shrink: 0;
    margin: 0 0.4em;
  }
}

/* 避免GiveawaySu得到0000Key, 隐藏"Grab key"按钮 */
.giveaway-actions #getKey {
  display: none !important;
}

.auto-task-giveaway-status {
  color: #fff;
  border-radius: 10px;
  padding: 0 5px;
  margin-left: 5px;

  &.active {
    background-color: #5cb85c;
  }
  &.not-active {
    background-color: #d9534f;
  }
}
