name: Release
'on':
  push:
    branches:
      - main
    paths:
      - src/**
      - .github/workflows/Release.yml
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - run: npm install
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: false
          tag_name: v5.1.0
          name: 5.1.0
          body: "- 新增：Freeanywhere识别鉴赏家任务\r\n- 新增：FreeRu站点支持"
          files: |-
            dist/auto-task.user.js
            dist/auto-task.min.user.js
            dist/auto-task.compatibility.user.js
            dist/auto-task.all.user.js
            dist/auto-task.min.all.user.js
            dist/auto-task.compatibility.all.user.js
          token: ${{ github.TOKEN }}
